:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-green: #3ddc84;
  --main-black: #3a3d40;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: var(--main-gray);
  color: var(--main-white);
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 4rem;
}

.welcome-section, .projects-section, .programming-section, .contact-section, .footer-section .container-fluid {
  padding: 4rem 1.5rem;
}

.welcome-section, .projects-section, .programming-section, .contact-section, .footer-section {
  border-bottom: 6px double #3a7d3d;
}

.big-heading {
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.section-heading {
  font-size: 3rem;
  padding-bottom: 4rem;
}
/* Navigation Bar */

.navbar {
  background: linear-gradient(#3ddc84, #3ddcc7fc);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  padding: 0;
}

.navbar-brand{
  background: #00000047;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-item a:hover {
  border-radius: 0.2rem;
  background: var(--main-blue);
  color: var(--main-white);
}

.nav-link{
  font-size: 1.5rem;
  font-weight: light;
}

.navbar-img {
  width: 4rem;
  height: 4rem;
}

/* Welcome-section */

.welcome-section .container-fluid {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.heading-para{
  font-size: 2rem;
  font-weight: bolder;  
  color: #339bba;
}

.more-about-me-btn {
  background-image: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  padding: 0.5rem 0.5rem;
  border-radius: 0.4rem;
}

.more-about-me-btn:hover {
  -webkit-animation: play 1.6s ease-in infinite;
}

.more-about-me-btn span {
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  background-color: #1f1f1f;
  border-radius: 0.4rem;
}

@-webkit-keyframes play {
  0% {
      background-position: 0px;
  }
  20% {
      background-position: -110px;
  }
  35% {
      background-position: -180px;
  }
  50% {
      background-position: -210px;
  }
  80% {
      background-position: -350px;
  }
  100% {
      background-position: -390px;
  }
}

.profile-pic {
  width: 12rem;
  border-radius: 50%;
}

.more-about-me-text {
  font-size: 1.2rem;
  font-weight: bolder;  
  color: #339bba;
  text-align: justify;
}

.resume-view {
  text-align: right;
}

.resume-download{
  text-align: left;
}

/* projects section */

.projects-section {
  background: var(--main-blue);
}

.card-body {
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.project-image {
  height: calc(100% - 12rem);
  width: 100%;
  object-fit: cover;
}

.card-title{
  font-size: 1.6rem;
}

.card-text {
  color: #09a2a5;
}

/* programming section */

.programming-btn {
  border-radius: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.programming-btn:hover .code{
  color: #0ee7aa;
}

/* contact-section */ 
.contact-section {
  background: var(--main-blue);
}

.contact-links {
  color: var(--main-white);
  font-size: 1.2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-links:hover {
  transform: translateY(8px);
}

/* footer section */

.footer-section {
  background: var(--main-gray);
}

